.card-container-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.sidebar-container{
    align-self: start;
    position: fixed;
    top: 0 ;
    right: 0;
    height: 100vh;
    margin-right: 30px;
    background-color: bisque;
}
